
@{
    ViewData["Title"] = "Dishes";
}

<p class="aboutText">
    Hungry for a particular dish? See the catagories below to see which restaurants serve the dish you crave.<br>
    If you want a more in depth look at the dishes available, click on a restaurant to be sent to its menu.<br><br />
</p>
<div class="container">
    <div class="row centre">
        <div class="col-md-3 col-sm-6 p10">
            <h2 class="g">Pasta</h2>
            <p>
                <a id="b" href="https://leonardo.mk/mk/">Leonardo</a>
                <br><a id="b" href="http://www.hoteltino.com.mk/index.php/restaurant">Hotel Tino</a>
                <br><a id="b" href="http://www.novariviera.com.mk/restoran/">Nova Riviera</a>
                <br><a id="b" href="http://kaneorestaurant.com/">Kaneo Letna Bavcha</a>
                <br><a id="b" href="https://restoransvsofija.mk/en_US/">Sv.Sofia</a>

            </p>
        </div>
        <div class="col-md-3 col-sm-6 p10">
            <h2 class="g">Fish</h2>
            <p>
                <a id="b" href="http://www.novariviera.com.mk/restoran/">Nova Riviera</a>
                <br><a id="b" href="http://kaneorestaurant.com/">Kaneo Letna Bavcha</a>
                <br><a id="b" href="https://restoransvsofija.mk/en_US/">Sv.Sofia</a>
            </p>
        </div>
        <div class="col-md-3 col-sm-6 p10">
            <h2 class="g">Falafel</h2>
            <p>
                <a id="b" href="https://menus.mk/places/ohrid/dr-falafel/">Dr.Falafel</a>

            </p>
        </div>
        <div class="col-md-3 col-sm-6 p10">
            <h2 class="g">Barbecue</h2>
            <p>

                <br><a id="b" href="http://www.hoteltino.com.mk/index.php/restaurant">Hotel Tino</a>
                <br><a id="b" href="http://www.novariviera.com.mk/restoran/">Nova Riviera</a>
                <br><a id="b" href="http://kaneorestaurant.com/">Kaneo Letna Bavcha</a>
                <br><a id="b" href="https://restoransvsofija.mk/en_US/">Sv.Sofia</a>
            </p>
        </div>
    </div>
</div>

