
@{
    ViewData["Title"] = "Restaurants";
}

<div class="container-fluid bgi">
    <div class="row bgc centre">
        <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/location/riviera_logo.png');"
             onmouseover="displayInfo('div1')" onmouseout="removeInfo('div1')">
            <div class="ResInfo" id="div1" onclick="displayImage('../images/carousel/riviera.png')">
                <div class="block">
                    <h3 class="h3s">Nova Reviera</h3>
                    <p class="ps">
                        "The restaurant of Nova Riviera Hotel is an open-type restaurant.
                        With a capacity of 220 seats it may be adjusted according to the requirements
                        and needs of our guests. Our high quality Chefs shall satisfy all your gastronomic
                        wishes offering a wide range of traditional and international dishes.
                        The beautifully arranged summer terrace with a capacity of 80 seats it offers
                        a fascinating view of Lake Ohrid. During the summer, the terrace is always full
                        of domestic and foreign tourists enjoying the sounds and tastes that we provide."

                        <br />Nova Reviera Website
                    </p>
                    <button class="website" onClick="parent.location='http://www.novariviera.com.mk/restoran/'">Web Site</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12" id="bglogo" style=" background-image: url('../images/location/kaneo_logo.jpg');"
             onclick="displayImage('../images/carousel/kaneo.jpg')" onmouseover="displayInfo('div2')" onmouseout="removeInfo('div2')">
            <div class="ResInfo" id="div2">
                <div class="block">
                    <h3 class="h3s">Kaneo Letna Bavcha</h3>
                    <p class="ps">
                        "The restaurant's location lets you enjoy
                        the view of one of the most famous sights in the city-
                        the chirch of St.John Kaneo, where time and space
                        cease to exist once you glance into the lake.
                        The restaurant is famously known for its Ohrid lake
                        plashica, and most recently, it has shifted in
                        focus toward fine dining'."
                    </p>
                    <p class="ps">Kaneo Letna Bavcha Website.</p>
                    <button class="website" onClick="parent.location='http://kaneorestaurant.com/'">Web Site</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/location/falafel_logo.jpg');"
             onclick="displayImage('../images/carousel/falafel.jpg')" onmouseover="displayInfo('div3')" onmouseout="removeInfo('div3')">
            <div class="ResInfo" id="div3">
                <div class="block">
                    <h3 class="h3s">Dr.Falafel</h3>
                    <p class="ps">
                        "With no sign of a hipster anywhere in sight, this refreshing little kiosk of a place serves falafel,
                        hummus, bread to wrap it in and little else beyond a refrigerator full of soft drinks.
                        There’s a handful of tables inside and out, although the best way to enjoy the food here
                        is to take it away and devour it on the hoof whilst strolling around the Old Bazaar."
                    </p>
                    <p class="ps">Dr.Falafel Website.</p>
                    <button class="website" onClick="parent.location='https://menus.mk/places/ohrid/dr-falafel/'">Web Site</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/location/svsofija_logo.png');"
             onclick="displayImage('../images/carousel/svsofija.j')" onmouseover="displayInfo('div4')" onmouseout="removeInfo('div4')">
            <div class="ResInfo" id="div4">
                <div class="block">
                    <h3 class="h3s">Sv.Sofia</h3>
                    <p class="ps">
                        "In the heart of the ancient Lychnidos built by the mythical hero Kadmo and his beloved Harmony more
                        than seven millennia ago, near the cathedral church of St. Sofia, former headquarters of the famous
                        Ohrid Archbishopric, is the restaurant “St. Sofia”. A place with a soul that tells the story of the city
                        for three decades, keeping the beautiful memories of numerous guests who come here to enjoy the unique
                        ambiance and the wonderful atmosphere, complemented with the sounds of Macedonian folk music and top service."
                    </p>
                    <p class="ps">Sv.Sofia Website.</p>
                    <button class="website" onClick="parent.location='https://restoransvsofija.mk/en_US/'">Web Site</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/location/leonardo_logo.png');"
             onclick="displayImage('../images/carousel/leonardo.png')" onmouseover="displayInfo('div5')" onmouseout="removeInfo('div5')">
            <div class="ResInfo" id="div5">
                <div class="block">
                    <h3 class="h3s">Leonardo</h3>
                    <p class="ps">
                        "LEONARDO PIZZERIA

                        From 1991 until today …

                        Our story began back in 1991 and continues to this day at the site of the old bakery where
                        the locals bought the most delicious bread, which was located at the entrance of the old
                        town at the lower gate in Ohrid. Over time, LEONARDO has grown into the most visited place of
                        locals, guests from our country and abroad, lovers of delicious pizza prepared with love by top pizza masters,
                        all welcome to Ohrid, a city protected as a UNESCO World Heritage Site."
                    </p>
                    <p class="ps">Leonardo website.</p>
                    <button class="website" onClick="parent.location='https://leonardo.mk/mk/'">Web Site</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/location/tino_logo.jpg');"
             onclick="displayImage('../images/carousel/tino.jpg')" onmouseover="displayInfo('div6')" onmouseout="removeInfo('div6')">
            <div class="ResInfo" id="div6">
                <div class="block">
                    <h3 class="h3s">Hotel Tino</h3>
                    <p class="ps">
                        Something to your taste
                        From our buffet breakfast to dinner you will experience show cooking with
                        a multitude of choices that will insure you find something to your taste."
                    </p>
                    <p class="ps">Hotel Tino Website.</p>
                    <button class="website" onClick="parent.location='http://www.hoteltino.com.mk/index.php/restaurant'">Web Site</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="bgi">
        <div class="bgc bgs marg">
        </div>
    </div>*@
<span id="imageDisplay">
    <img src='../images/carousel/dicksonnoodle_car.jpeg' class='img-fluid' @*style="visibility:hidden"*@ />
</span>

